/* Universal Styles */
.border-big {
  border: 0.1rem solid black;
  padding: 1rem;
  margin: 1.5rem 0;
}
.border-small {
  border: 0.1rem solid black;
  padding: 0.625rem;
  margin: 1rem 0;
}
.box {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background-color: gray;
}

/* About */
#about span {
  font-weight: bold;
}

/* Display flex and inline*/
.display-flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

/* Justify Content*/
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

/* Align items */
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
.align-center {
  display: flex;
  align-items:center;
}
.align-baseline {
  display: flex;
  align-items: baseline;
}
.align-stretch {
  display: flex;
  align-items: stretch;
}
.box-stretch {
  width: 80px;
  min-height: 80px;
  margin: 2px;
  background-color: gray;
}

/* Flex-grow*/
.flex-default {
  display: flex;
}
.flexgrow-center, .flexgrow-side {
  padding: 0.5rem;
  font-size: 0.75rem;
}
.flexgrow-side {
  width: 20rem;
}
.flexgrow-center {
  width: 10rem;
}

/* Flex-shrink*/
.flex-shrink-container {
  width: 15rem;
  border: 0.1rem solid black;
  display: flex;
}
.flex-shrink-side {
  flex-shrink: 3;
}
.flex-shrink-center {
  flex-shrink: 1;
}

.container-flexshrink {
  width: 160px;
  height: 160px;
  background-color: rgb(207, 207, 207);
  display: flex;
}

.flexshrink-side {
  width: 20px;
  height: 120px;
  background-color: lightseagreen;
  margin: 20px 5px 20px 20px;
}

.flexshrink-center {
  width: 40px;
  height: 120px;
  background-color: lightseagreen;
  margin: 20px 5px 20px 20px;
}


.display-boxes-in-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#baseline-center {
  width: 80px;
  height: 120px;
}