/* Flexbox*/
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
  border: 1px solid black;
  padding: 10px;
  margin: 20px 20px 20px 0;
}
.box {
  width: 80px;
  height: 80px;
  margin: 2px;
  background-color: lightseagreen;
}
#baseline-center {
  width: 80px;
  height: 120px;
}
.blue {
  background-color: cadetblue;
}
.coral {
  background-color: coral;
}
.purple {
  background-color: plum;
}

/* Justify Content */
.justify-container {
  width: 720px;
  height: 160px;
  background-color: rgb(207, 207, 207);
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.space-between {
  display: flex;
  justify-content: space-between;
}

/* Align items */
.align-container {
  width: 720px;
  height: 240px;
  background-color: rgb(207, 207, 207);
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-end {
  display: flex;
  align-items: flex-end;
}
.align-center {
  display: flex;
  align-items:center;
}
.align-baseline {
  display: flex;
  align-items: baseline;
}
.align-stretch {
  display: flex;
  align-items: stretch;
}
.box-stretch {
  width: 80px;
  min-height: 80px;
  margin: 2px;
  background-color: lightseagreen;
}