/* Universal Styles */
.grid {
  display: grid;
}
.container-grid {
  margin: 40px 0;
  border: 1px solid black;
}
h2, h3, p {
  margin: 20px;
}

/* Main */
#template-rows, #template-columns, #fractions, #minmax, #grid-start-end, #grid-template-areas, #overlapping {
  margin: 20px;
}
.box-grid {
  border: 5px solid purple;
  border-radius: 5px;
}
#template-rows {
  grid-template-rows: repeat(5, 45px);
}
#template-columns {
  grid-template-columns: repeat(5, 45px);
}
#fractions {
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
#minmax {
  grid-template: 50px 100px 50px / 50px minmax(50px, 100px) 50px;
}
#grid-start-end {
  grid-template: 1fr 2fr 1fr / 2fr 1fr 2fr;
  gap: 10px;
}
.d {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}
.e {
  grid-row-start: 2;
  grid-row-end: 4;
}
.b {
  grid-column-start: 2;
  grid-column-end: 4;
}

/* Grid template areas*/
#grid-template-areas {
  grid-template-areas: "heading1 heading1" "main1 main2" "footer1 footer1";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}
.heading1 {
  grid-area: heading1;
}
.main1 {
  grid-area: main1;
}
.main2 {
  grid-area: main2;
  background-color: pink;
}
.footer1 {
  grid-area: footer1;
}

/* overlapping*/
#overlapping {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 350px;
  height: 350px;
  gap: 5px;
}
.heading2 {
  grid-area: 1 / 1 / 2 / 6;
}
.main3 {
  grid-area: 2 / 1 / 5 / 3;
}
.main4 {
  grid-area: 2 / 3 / 5 / 6;
  background-color: magenta;
}
.footer2 {
  background-color: olivedrab;
  grid-area: 5 / 1 / 6 / 2;
}
.footer3 {
  background-color: olivedrab;
  grid-area: 5 / 2 / 6 / 4;
}
.footer4 {
  background-color: olivedrab;
  grid-area: 5 / 4 / 6 / 6;
}
.overlap {
  grid-area: 3 / 2 / 4 / 4;
  background-color: blue;
  z-index: 5;
}

/* Justify items*/
#justify-items {
  width: 500px;
  columns: 300px;
  grid-template: repeat(3, 150px) / 150px 150px;
  background-color: grey;
  justify-items: center;
  gap: 10px;
  margin: 20px;
}
.justify {
  width: 100px;
}

/* Justify content*/
#justify-content {
  width: 500px;
  columns: 300px;
  grid-template: repeat(3, 150px) / 150px 150px;
  background-color: grey;
  justify-content: center;
  margin: 20px;
}
.justify2 {
  width: 100px;
}