/* Universal Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px;
  background-color: aliceblue;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 70px;
  font-family: 'Sansita Swashed', cursive;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
  font-weight: normal;
}
h1, h2 {
  color: lightseagreen;
}
span {
  color: lightseagreen;
}
.center {
  text-align: center;
}

/* HEADER */

/* MAIN */
main, section {
  margin: 30px 20px;
}
h2, p {
  margin: 20px 0;
}
th {
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
}
th, td {
  border: 2px solid black;
  padding: 10px;
  border: 2px solid lightblue;
}
ul {
  margin: 0 10px;
}
.inner-list {
  list-style: inside;
}
.table-images {
  width: 300px;
}


/* FOOTER */