/* Universal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 2rem;
}
h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.css-code {
  margin: 20px;
}
.center {
  text-align: center;
}
.container-small {
  width: 200px;
  height: 200px;
  background-color: grey;
}
.header, .main, .footer {
  margin: 40px;
}

/* HEADER */
.title {
  background-color: rgba(255, 102, 0, 0.836);
  padding: 1rem;
}
.nav {
  /*position: fixed;
  top: 0;*/
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 102, 0, 0.836);
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

.nav a {
  color: black;
}
.nav a:hover {
  text-decoration: none;
}

/* MAIN */
.positioning, .display {
  border: 1px solid black;
  margin: 40px 0;
  padding: 20px;
}
table {
  margin-top: 20px;
}
th {
  text-align: center;
  font-size: 20px;
  background-color: lightblue;
}
th, td {
  border: 2px solid black;
  padding: 10px;
  border: 2px solid lightblue;
}
ul {
  margin: 0 10px;
}
.inner-list {
  list-style: inside;
}
.table-images {
  width: 300px;
}
/* FOOTER */